python-docx==1.1.2
rapidfuzz==3.10.1
requests==2.32.3
selenium==4.26.1
webdriver-manager==4.0.2
openai
langchain-openai
langchain-core
langchain-community
langchain-text-splitters
faiss-cpu==1.9.0
python-dotenv==1.0.1
